# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.sqlite3
db.sqlite3
/static/
/media/
manage.py

# Environment variables
.env
*.env

# Virtual environment
venv/
env/
ENV/
.venv/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
