# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.sqlite3
db.sqlite3
/static/
/media/

# Environment variables
.env
*.env

# Virtual environment
venv/
env/
ENV/
.venv/

# Windows
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Ignore migration files in all apps
*/migrations/

# Ignore local settings
local_settings.py


