<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apa Sia?</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
</head>

<h1>Apa Sia</h1>

<body>
    <nav>
        <ul class="navbar">
            {% if user.is_authenticated %}
            <!-- Links visible only to authenticated users -->
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'posting' %}">Post</a></li>
                <li><a href="{% url 'profile_page' %}">Profile</a></li>
                <li><a href="{% url 'logout_user' %}">Logout</a></li>
            {% else %} 
            <!-- Links visible only to unauthenticated users -->
                <li><a href="{% url 'login_user' %}">Login</a></li>
                <li><a href="{% url 'register_user' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    
    {% block content %}
    <!--Default content can go here-->
    {% endblock %}
    
</body>
</html>
